@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadoww {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.bgggg {
    background-image: url(./Assest/images/heroBg.png);
    background-position: center;
    background-size: cover;

}

.bgg {
    background-image: url(./Assest/images/card3.png);
    background-position: center;
    background-size: cover;
    height: 18px;
    width: 16px;
}